@import url(https://fonts.googleapis.com/icon?family=Material+Icons&text=closetday);

:root {

  --ui-color-primary: #00a8ff;
  --ui-color-secondary: #00d8ff;

  --ui-selection-color: #00d8ff;
  --ui-default-color: rgba(17, 24, 39, 1);
  --ui-default-bg: #ccc;
  --ui-primary-color: #fff;
  --ui-primary-bg: #34568B;
  --ui-secondary-color: #fff;
  --ui-secondary-bg: #222;
  --ui-disabled-opacity: 0.5;

}

.ui * {
  @apply font-sans;
}
